:root {
    --yellow: rgb(255, 220, 0);
    --light-yellow: rgb(255, 232, 76);
    --lighter-yellow: rgb(255, 241, 143);

    --blue: rgb(13, 110, 253);

    --red: rgb(213, 7, 7);

    --light-gray: rgb(245, 246, 250);
    --light-gray2: rgb(249, 250, 252);
    --light-gray4: rgb(220, 220, 220);
    --light-gray5: rgb(233, 236, 243);
    --light-gray6: rgb(238, 240, 246);

    --dark-gray: rgb(120, 120, 120);
    --darker-gray: rgb(69, 69, 73);

    --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    color: var(--darker-gray);
    background-color: var(--light-gray);
}

ol, ul {
    list-style: none;
}

h1 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;

    thead tr {
        background-color: var(--light-gray2);
    }

    tr {
        border-bottom: 2px solid var(--light-gray);

        th, td {
            padding: 10px 15px;
            text-align: start;
        }
    }
}

input, select, button, .btn {
    border-radius: 4px;
}

input, select {
    border: 1px solid var(--light-gray4);

    &:focus-visible {
        border: 1px solid var(--dark-gray);
        outline: none;
    }

    &:disabled {
        color: var(--light-gray4);
    }

    &.invalid {
        border: 1px solid var(--red);
    }
}

input {
    padding: 8px;
}

select {
    min-width: 60px;
    padding: 5px 10px;
}

button, .btn {
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    background-color: var(--light-gray5);

    &:hover {
        background-color: var(--light-gray6);
    }

    &.primary {
        background-color: var(--yellow);

        &:disabled {
            background-color: var(--lighter-yellow);
            cursor: default;
        }

        &:hover:not(:disabled) {
            background-color: var(--light-yellow);
        }
    }

    &.small {
        padding: 8px;
        aspect-ratio: 1;
    }
}

.form-field {
    display: inline-block;
    margin: 0 1rem 1rem;
    width: 220px;

    &.disabled label {
        color: var(--light-gray4);
    }

    label {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    input {
        display: block;
        margin-bottom: 0.5rem;
        width: 100%;

        &.invalid ~ .invalid-feedback {
            display: inline-block;
        }
    }

    .invalid-feedback {
        color: var(--red);
        display: none;
    }
}

.centered-container {
    max-width: max-content;
    display: block;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.table-responsive {
    overflow-x: auto;
    min-height: 320px;

    table {
        width: max-content;
    }
}

.info {
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    color: rgb(250, 251, 253);
    background-color: rgb(146, 146, 150);
    display: inline-block;
    font-size: .75em;
    width: 1.699em;
    line-height: 1;
    text-align: center;
    vertical-align: text-bottom;
    white-space: nowrap;
    padding: 0.39em 0.65em 0.31em 0.65em;
    margin-left: 5px;

    &:hover {
        background-color: var(--blue);
        
        & ~ .info-text {
            display: inline-block;
        }
    }
}

.info-text {
    position: absolute;
    transform: translate(0, -100%);
    color: var(--darker-gray);
    background-color: var(--light-gray6);
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    font-size: 0.9em;
    text-align: start;
    white-space: normal;
    width: max-content;
    max-width: 230px;
    box-shadow: var(--shadow);
    z-index: 2;
}

.dropdown {
    position: relative;
    display: inline-block;

    .trigger {
        background: none;

        &:hover, &.active {
            background-color: var(--light-gray6);
        }
    }

    .dropdown-content {
        position: absolute;
        background-color: var(--light-gray6);
        min-width: 100px;
        box-shadow: var(--shadow);
        z-index: 1;
        padding: 0;
        margin: 0;
        right: 0;

        .item {
            color: black;
            padding: 12px 16px;
            display: block;

            &:hover {
                background-color: var(--light-gray4);
                cursor: pointer;
            }
        }
    }
}

.icon {
    aspect-ratio: 1;
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.menu-icon {
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"/><rect x="10" y="3" width="4" height="4" rx="2" fill="currentColor"/><rect x="10" y="17" width="4" height="4" rx="2" fill="currentColor"/></svg>');
    }
    
    &.search-icon {
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="currentColor"/><path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="currentColor"/></svg>');
    }

    &.close-icon {
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="currentColor"/><rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="currentColor"/></svg>');
    }
}
